<% layout("/layouts/boilerplate") %>

<div class="ind-div mt-5">
  <h1 class="ind-head">All Listings</h1>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of allListings) { %>
    <div class="col mb-4 listing-card">
      <div class="card position-relative" style="width: 20rem; cursor: pointer">
        <!-- Invisible link overlay -->
        <a href="/listings/<%= listing._id %>" class="stretched-link"></a>

        <img
          src="<%= listing.image.url ? listing.image.url : 'https://via.placeholder.com/300' %>"
          class="card-img-top"
          alt="listing_image"
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <h5 class="card-title"><b><%= listing.title %></b></h5>
          <p class="card-text"><%= listing.description %></p>
          <p class="card-text"><b>Price:</b> $<%= listing.price %>/night</p>
          <p class="card-text">
            <b>Location:</b> <%= listing.location %>, <%= listing.country %>
          </p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
